@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-satoshi: 'Satoshi', sans-serif;
    --font-integral: 'Integral', sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    :root {
 /*      --background: #0a0a0a; */
      --foreground: #ededed;
      --font-satoshi: 'Satoshi', sans-serif;
      --font-integral: 'Integral', sans-serif;
    }
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integral';
  src: url('/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
